<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>com.gaspard.chiarafile.upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>schedule</servlet-name>
        <servlet-class>com.gaspard.chiarafile.schedule</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>download</servlet-name>
        <servlet-class>com.gaspard.chiarafile.download</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadfile</servlet-name>
        <servlet-class>com.gaspard.chiarafile.downloadfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletefile</servlet-name>
        <servlet-class>com.gaspard.chiarafile.deletefile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>download</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadfile</servlet-name>
        <url-pattern>/downloadfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletefile</servlet-name>
        <url-pattern>/deletefile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <listener>
        <listener-class>com.gaspard.chiarafile.schedule</listener-class>
    </listener>
      <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/error.jsp</location> 
    </error-page>
     <error-page>
        <error-code>404</error-code>
        <location>/</location> 
    </error-page>
        <error-page> 
        <exception-type>java.lang.Exception</exception-type> 
        <location>/WEB-INF/error.jsp</location> 
    </error-page>
      <error-page> 
        <exception-type>java.lang.IllegalStateException</exception-type> 
        <location>/WEB-INF/error.jsp</location> 
    </error-page>
          <error-page> 
        <exception-type>java.lang.Throwable</exception-type> 
        <location>/WEB-INF/error.jsp</location> 
    </error-page>
    
</web-app>
